:root {
    --gray-1: #725C5C;
    --border-gray: #E7E7E7;
    --orange-background: #FDF1EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body {
    display: flex;
}

.sidebar {
    height: 100%;
    width: 16%;
    position: fixed;
    background-color: #FFFFFF;
    border-right: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar h1 {
    display: flex;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 6.8rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.2rem 2rem 2rem;
}

.sidebar img {
    width: 100%;
}

.sidebar ul li {
    padding: 0.7rem 0 0.7rem 2.4rem;
    border-bottom: 2px solid var(--border-gray);
}

.sidebar ul li:hover, .active {
    background-color: var(--orange-background);
    cursor: pointer;
}

.active {
        border-left: 5px solid;
        border-image: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
        border-image-slice: 1;
}

.sidebar ul li a {
    color: var(--gray-1);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

main {
    font-size: 3rem;
    margin-left: 16%;
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--orange-background);
    padding: 0.4rem 2.9rem 0.4rem 3.6rem;
}

.headerTxt{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--gray-1);
}

.headerTxt p{
    font-size: 1.4rem;
}

.lang {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.9rem;
    margin-left: 7rem;
    font-size: 1.4rem;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    border-radius: 0.3rem;
}

.login {
    display: flex;
}

.login div {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #333333;
    text-align: right;
}

.login div p:first-child {
    font-size: 1.4rem;
}

.login div p:last-child {
    font-size: 1.2rem;
}

.login img:first-child {
    margin-left: 0.5rem;
}

.login img:last-child {
    position: absolute;
    right: 2.7rem;
}