:root {
    --gray-1: #725C5C;
    --border-gray: #E7E7E7;
    --orange-background: #FDF1EB;
    --orange-solid: #ED7839;
    --black-title: #4E4E4E;
    --black-text: #5C5C5C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    width: 16%;
    position: fixed;
    background-color: #FFFFFF;
    border-right: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar h1 {
    display: flex;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    height: 6.8rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.2rem 2rem 2rem;
}

.sidebar img {
    width: 100%;
}

.sidebar ul li {
    padding: 0.7rem 0 0.7rem 2.4rem;
    border-bottom: 2px solid var(--border-gray);
}

.sidebar ul li:hover, .active {
    background-color: var(--orange-background);
    cursor: pointer;
}

.active {
        border-left: 5px solid;
        border-image: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
        border-image-slice: 1;
}

.sidebar ul li a {
    color: var(--gray-1);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--orange-background);
    padding: 0.4rem 2.9rem 0.4rem 3.6rem;
}

.headerTxt{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding-left: 21rem;
    color: var(--gray-1);
}

.headerTxt p{
    font-size: 1.4rem;
}

.langDropdown {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 9rem;
    font-family: 'Quicksand', sans-serif;
}

.lang {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding: 0.8rem 0.9rem;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    border-radius: 0.3rem;
    cursor: pointer;
}

.contentDropdown {
    display: none;
    position: absolute;
    width: 9rem;
    list-style: none;
    background-color: var(--orange-background);
    border-radius: 0.3rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.langDropdown:hover ul{
    display: block;
}

.contentDropdown li {
    cursor: pointer;
    padding: 0.8rem 0.9rem;
    width: 100%;
}

.contentDropdown li:hover {
    background-color: #CCCCCC;
}

.login {
    display: flex;
}

.login div {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #333333;
    text-align: right;
}

.login div p:first-child {
    font-size: 1.4rem;
}

.login div p:last-child {
    font-size: 1.2rem;
}

.login img:first-child {
    margin-left: 0.5rem;
}

.login img:last-child {
    position: absolute;
    right: 2.7rem;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 25rem;
}

main .mainContainer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.mainContainer h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    color: var(--orange-solid);
    padding-bottom: 1.9rem;
}

.container {
    padding-left: 8rem;
}

.container div {
    display: flex;
}

.container div button {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--orange-solid);
    color: #FFFFFF;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.container div button:hover {
    background-color: #FFB455;
}

.container div button img {
    margin: auto;
    display: block;
}

.container p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--orange-solid);
    margin-left: 0.5rem;
    padding-top: 1.2rem;
}

.videoContainer {
    display: flex;
    justify-content: space-between;
}

.video {
    background-color: #333333;
    width: 80rem;
    height: 45rem;
}

.details {
    width: 24.2rem;
    height: 45rem;
    border: 1px solid #ECECEC;
    border-radius: 0.3rem;
    color: var(--black-text);
    font-family: 'Quicksand',sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.details h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    background-color: var(--orange-background);
    padding: 1.1rem 1.5rem 0.9rem 1.5rem;
    color: var(--black-title);
}

.detailsTxt {
    overflow-y: scroll;
    cursor: pointer;
    max-height: 38rem;
    line-height: 1.6rem;
    margin: 1.5rem 0.5rem;
    padding: 0rem 1rem 1.5rem 1.5rem;
}

.detailsTxt p:first-child {
    padding-bottom: 2rem;
}

.detailsTxt p:nth-child(2) {
    padding-bottom: 4rem;
    line-height: 2rem;
}

.detailsTxt p:nth-child(3) {
    color: rgb(182, 182, 182);
    padding-bottom: 1rem;
}

.detailsTxt::-webkit-scrollbar-track
{
	border-radius: 0.5rem;
	background-color: #F5F5F5;
}

.detailsTxt::-webkit-scrollbar
{
	width: 0.3rem;
	background-color: #E7E7E7;
}

.detailsTxt::-webkit-scrollbar-thumb
{
	border-radius: 0.5rem;
	background-color: #BFBFBF;
}

.resumo {
    margin-top: 3rem;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    cursor: pointer;
}

.resumo h3 {
    background-color: var(--orange-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--black-title);
    padding: 1rem 1.5rem;
}

.resumo div {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--black-text);
    padding: 1.5rem;
    line-height: 2.3rem;
    text-align: justify;
}

#verMais {
    display: none;
}

.discussoes, .resumo:last-child h3 {
    cursor: default;
}

.discussoes .suaIdeia {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discussoes .suaIdeia p:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--orange-solid);
}

.discussoes .suaIdeia p:last-child {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #595959;
    width: 70%;
    margin-bottom: 1rem;
}

.criarTopico {
    position: relative;
    left: 45%;
    bottom: 1.5rem;
    cursor: pointer;
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    border: none;
    border-radius: 0.4rem;
    padding: 0.7rem 1.3rem 0.9rem 1.3rem;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
